.contactContainer {
  font-family: var(--defaultFont);
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primaryColor) !important;
}
.contactTextBox {
  margin-bottom: 40px;
}
.contactTextTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.contactText {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0;
}
.contactIconsBox {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  margin-top: 35px;
}
.contact-icons {
  font-size: 30px;
  color: var(--secundaryColor);
  transition: all 0.4s;
  animation: iconsAnimation linear 3s infinite ;
}
.contact-icons:hover {
 color: var(--transpDarkColor);
}
@keyframes iconsAnimation {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
.formContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
}
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}
input, textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--darkGrayColor);
  color: var(--secundaryColor);
}
.errorMsg{
  font-size: 13px;
  text-align: flex-start;
  margin:0;
  color: var(--errorColor);
}
button {
  color: var(--primaryColor);
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--secundaryColor);
  padding: 5px 25px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
button:hover {
  filter: brightness(75%);
}
.windowSend {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
justify-content: center;
align-items: center;
background-color: var(--transpDarkColor);
z-index: 15;
&[data-show="true"] {
  display: flex;
}
}

.windowContainer{
  width: 85%;
  height: auto;
  background-color: var(--whiteColor);
  color: var(--secundaryColor);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}
.windowClosed {
position: absolute;
top: 10px;
right: 10px;
width: auto;
height: auto;
}
.windowIcon {
  font-size: 30px;
  color: var(--secundaryColor);
  transition: all 0.3s;
  cursor: pointer;
}
.windowIcon:hover{
  transform: scale(1.03);
}
.windowIcon:active{
  transform: rotate(-15deg);
}
.windowTitle {
margin: 10px auto 0;
font-size: 18px;
font-weight: 700;
text-align: center;
}
.windowText {
  margin: 15px auto 0;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
.windowContent {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  font-size: 45px;
  color: var(--secundaryColor);
  margin: 20px 0;
}





