ion-content {
  position: relative;
  padding-bottom: 90px !important;
}
h3{
  font-size: 18px;
  font-weight: 600;
}
.linksBox {
  position: absolute;
  left: 10px;
  right: 10px;
  height: 65px;
  margin: 0 auto 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0 0 15px -5px var(--transpDarkColor);
  border-radius: 5px;
}
.linksBtn {
  text-decoration: none;
    color: var(--primaryColor);
    background-color: var(--secundaryColor);
    font-weight: 900;
    padding: 8px 20px;
    transition: all 0.5s;
}
.linksBtn:hover {
transform: scale(1.03);
}
.linksBtn:active {
 filter: brightness(75%);
}
