.homeTitle {
  max-width: 415px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  padding: 10px;
  background-color: var(--primaryColor);
}
.title {
 text-align: center;
}
.project-card {
  box-shadow: 0 0 41px -16px var(--transpDarkColor);
  margin-bottom: 30px;
}
ion-card-header+.card-content-md {
  text-align: center;
}
.details-btn {
  background-color: var(--primaryColor);
  margin: 15px auto;
}
.project-image {
  transition: all 0.4s;
  border: 1px solid var(--transpDarkColor);
 cursor: pointer;
}
.project-image:hover {
  transform: scale(1.02);
}
ion-button {
  color: var(--primaryColor);
}
.hydrated {
  border-radius: 0 !important;
}
.projectModal {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  background-color: var(--transpDarkColor);
  padding: 80px 20px 50px;
}
.modalcontainer {
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  position: relative;
}
app-portfolio-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: -6px;
  right: 20px;
  z-index: 11;
  color: var(--primaryColor);
  background-color: var(--secundaryColor);
  padding: 6px 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  transform: scaleX(1.5);
}
.close-btn:hover{
  filter: brightness(75%);
}
.hydrated {
  border-radius: 0 !important;
}
