ion-content {
  font-family: var(--defaultFont);
}
.subTitle {
  text-align: center;
    margin: 15px auto 30px;
    max-width: 280px;
    width: 100%;
    background-color: var(--primaryColor);
    padding: 5px 10px;
}
.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text {
  font-size: 17px;
  text-align: center;
}
.my-name {
  font-weight: 700;
  border-bottom: 2px solid var(--primaryColor);
}
.normal-text {
  font-size: 16px;
  text-align: center;
}
.about-experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.experience-number {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}
.zoom {
  font-size: 115px;
  font-weight: 600;
  z-index: 1;
  animation: zoomAnimation 2s  linear 8s forwards;
}
@keyframes zoomAnimation {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.experience-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primaryColor);
  border-radius: 50%;
  z-index: 0;
}
.experience-text {
  text-align: center;
  font-size: 18px;
}
.experience-text span {
  font-weight: 600;
}
.imgBox {
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secundaryColor);
  background-color: var(--primaryColor);
  border-radius: 50%;
  padding: 3px;
}
.myPhoto {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.about-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 15px;
}
.about-contact span {
  font-weight: 600;
}
.about-contact a {
  text-decoration: none;
}
.about-contact a:hover {
  border-bottom: 2px solid var(--primaryColor);
}
