
:root {
  --primaryColor: #F5DF4E;
  --secundaryColor: #111418;
  --whiteColor: #FFFFFF;
  --transpWhiteColor: #ffffffd6;
  --transpDarkColor: #232323cc;
  --blackColor: #000;
  --grayColor: #c6d1db4d;
  --darkGrayColor: #c6d1db;
  --uccessColor: #00fe9c;
  --inforColor: #1f97f6;
  --errorColor: #EA2512;
  --warningColor: #f2af29;

  --defaultFont: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {

  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {

  }

  .ios ion-modal {

  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {

  }
}
