ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-menu.md[_ngcontent-ng-c2611951915] ion-list#inbox-list[_ngcontent-ng-c2611951915] {
  padding-top: 0;
}
.logoAnimate {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  animation: showLogoAnimation 0s ease  forwards;
}
@keyframes showLogoAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.logoTitle {
  width: 100%;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
  margin-bottom: 7px;
  line-height: 27px;
  position: relative;
  font-family: "Poppins", sans-serif;
  animation: textColorAnimation  ease 6.2s;
}
.titleMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    var(--blackColor),
    var(--blackColor),
    var(--blackColor),
    var(--blackColor),
    var(--blackColor),
    var(--blackColor),
    var(--blackColor)
  );
  background-size: 330% auto;
  animation: backgroundAnimation 7.3s linear;

}
@keyframes backgroundAnimation {
  100% {
    background-position: -100%;
  }
  0% {
    background-position: 200%;
}
}
@keyframes textColorAnimation {
  0% {
    color: transparent;
  }
  50% {
      color: transparent;
    }
  100% {
    color: var(--blackColor);
}
}
.logoSubtitle {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: -10px;
  width: 100%;
  text-align: start;
}
.translateBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
}
.flag-icon {
  font-size: 25px;
  transition: all 0.4s;
  box-shadow: 0 0 22px -7px var(--secundaryColor);
  margin-bottom: 60px;
}
.flag-icon:hover {
  transform: scale(1.03);
}

.phaseJesus {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
column-gap: 5px;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color: var(--secundaryColor);
 }
 .JesusName {
  color: var(--primaryColor);
  text-decoration: underline;
  background-color:var(--secundaryColor);
  padding: 1px 5px;
 }
