<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ project.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h3>Description:</h3>
      <p>{{ project.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h3>Technologies Used:</h3>
      <p>{{ project.technologies }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
