<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ getTranslated('SERVICES.SERVICES_TITLE_HEADER') }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1 class="subTitle fade-up">
    {{ getTranslated('SERVICES.SERVICES_TITLE_PAGE') }}
  </h1>
  <div class="services-cards-box">
    <div class="services-cards fade-up">
      <ion-icon name="desktop" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_ONE') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_ONE') }}
      </p>
    </div>
    <div class="services-cards fade-up">
      <ion-icon name="brush" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_TWO') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_TWO') }}
      </p>
    </div>
    <div class="services-cards fade-up">
      <ion-icon name="phone-portrait" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_THREE') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_THREE') }}
      </p>
    </div>
    <div class="services-cards fade-up">
      <ion-icon name="compass" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_FOUR') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_FOUR') }}
      </p>
    </div>
    <div class="services-cards fade-up">
      <ion-icon name="rocket" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_FIVE') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_FIVE') }}
      </p>
    </div>
    <div class="services-cards fade-up">
      <ion-icon name="accessibility" class="services-icons"></ion-icon>
      <p class="services-cards-title">
        {{ getTranslated('SERVICES.SERVICES_TITLE_CARD_SIX') }}
      </p>
      <p class="services-cards-text">
        {{ getTranslated('SERVICES.SERVICES_TEXT_CARD_SIX') }}
      </p>
    </div>
  </div>
</ion-content>
