<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ getTranslated('HOME.PAGE_TITLE') }}</ion-title>
    <!-- <button slot="end" class="translateBtn" (click)="toggleLanguage()">
      <span
        class="flag-icon flag-icon-br"
        [ngClass]="{'flag-icon-gb': selectedLanguage === 'pt', 'flag-icon-br': selectedLanguage === 'gb'}"
      ></span>
    </button> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="homeBox">
    <div class="homeMasc"></div>
    <div class="homeTextBtn">
      <h1 class="homeTitle">{{ getTranslated('HOME.TITLE') }}</h1>

      <p #dinamicText class="dinamicText">
        {{ dinamic_text_value }} <span class="focusText"></span>
      </p>
      <h1 class="homeSubTitle">{{ getTranslated('HOME.SUBTITLE') }}</h1>
      <a class="homeBtn" (click)="toPortfolioPage()">{{ getTranslated('HOME.BUTTON_LABEL') }}</a>
      <!-- <button class="translateBtn" (click)="toggleLanguage()">
        <span class="flag-icon flag-icon-br"></span>
      </button> -->
    </div>
  </div>
</ion-content>
<!-- {{ getTranslated('HOME.') }} -->
