.ion-page {
  overflow-x: auto !important;
}
swiper-container {
  width: 100%;
  height: auto;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--defaultFont);
  padding-bottom: 20px;
}
.titlePage {
  text-align: center;
  max-width: 250px;
  width: 100%;
  margin: 20px auto 20px;
  background-color: var(--primaryColor);
  padding: 5px;
  margin-bottom: 50px;
}
.authorImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  padding: 3px;
}
.authorName {
text-align: center;
font-weight: 500;
margin: 5px auto 0;
font-size: 17px;
}
.office {
text-align: center;
width: 70%;
font-weight: 300;
margin: 0 auto;
font-size: 14px;
color: var(--secundaryColor);
}
.testimony {
text-align: center;
font-size: 16px;
width: 90%;
margin: 10px auto 20px;
}
.toLinkedInLinkBox {
  width: 100%;
  display: block;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
}
.toLinkedInLink {
  text-decoration: none;
  font-weight: 500;
  color: var(--secundaryColor);
  background-color: var(--primaryColor);
  padding: 5px 15px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: start;
}
.toLinkedInLink:active{
  filter: brightness(75%);
}

